.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.env
.env.*
backend/.env
!backend/.env.example

storage/uploads/*
storage/audio/*
storage/transcripts/*
storage/outputs/*

!.gitkeep

.vscode/
.idea/

*.log
.DS_Store
Thumbs.db

storage/subtitles/*

frontend/node_modules/
frontend/dist/

frontend/tsconfig.tsbuildinfo
